<!DOCTYPE html>
<html>
<head>
<title>Keith's Movie Lounge Reviews</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
	<header>
		<a class="backto" th:href="@{/movies(title=${movies})}">Back
		to Keith's Movie Lounge List of Titles</a>
		<h1>Keith's Movie Lounge List of Genres</h1>
		<h2 class ="select-genre">Select genre:</h2>
	</header>
	<main class="content">
	<article>
		<a class = "currentGenre" th:each="currentGenre: ${genres}"
			th:href="@{/genre(id=${currentGenre.id})}">
			<img class ="genreImage" th:src="${currentGenre.genreImage}"></img>
				</a>
	</article>
	</main>
</body>
<footer>
	<p class="signature">Posted by Keith Kulwicki 2017</p>
</footer>
</html>