<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Keith's Movie List Lounge</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
	<a class="backtomain" th:href="@{/genres(title=${movies})}">Back to
	Keith's Movie Lounge List of Genres</a>
	<h1>Keith's Movie Lounge List of Movies</h1>
	<h2 >Select movie:</h2>
	<p th:each="currentMovie: ${movies}"><a class ="movie-list"
			th:href="@{/movie(id=${currentMovie.id})}"
			th:text="${currentMovie.getTitle()}" /></p>

</body>
<footer class="footer">
	<p class="signature">Posted by Keith Kulwicki 2017</p>
</footer>
</html>