<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${movie.title}" />
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
	<nav class="navbar">
		<ul>
			<li><a th:href="@{/genres(title=${movies})}">List of Genres</a></li>
			<li><a th:href="@{/movies(title=${movies})}">List of Titles</a></li>
			<li><a href="javascript:history.back()">Previous Page</a></li>
		</ul>
	</nav>
	<h1 th:text="${movie.title}" />
	<h2 th:text="${movie.description}"></h2>
	<img class="movie-detail-poster" th:src="${movie.imageUrl}" />
	<iframe class="movie-clip" th:src="${movie.videoClip}"></iframe>
	<p class="movie-stats" th:text="'Genre: ' + ${movie.genre}"></p>
	<p class="synopsis" th:text="'Review: ' + ${movie.review}"></p>

</body>
<footer>
	<p class="signature">Posted by Keith Kulwicki 2017</p>
</footer>
</html>