<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Keith's Movie List Lounge</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
	<header>
		<a class="backto" th:href="@{/genres(title=${movies})}">Back to
			Keith's Movie Lounge List of Genres</a>
		<h1>Keith's Movie Lounge List of Titles</h1>
		<h2>Select movie:</h2>
	</header>
	<article>
		<a class ="movie-thumb" th:each="currentMovie: ${movies}" th:href="@{/movie(id=${currentMovie.id})}"><img class="title-image" th:src="${currentMovie.imageUrl}"></img></a>
	</article>


</body>
<footer class="footer">
	<p class="signature">Posted by Keith Kulwicki 2017</p>
</footer>
</html>