<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${movie.title}"></title>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
	<div class="nav-wrapper">
		<nav class="navbar">
			<ul class="clearfix">
				<li><a class="inactive" href="/home">Home</a></li>
				<li><a class="inactive" href="/genres">Genres</a></li>
				<li><a class="inactive" href="/movies">Titles</a></li>
				<li><a class="inactive" href="/tags">Tags</a></li>
				<li><a class="inactive" href="javascript:history.back()">Previous
						Page</a></li>
			</ul>
		</nav>
	</div>
	<h1 th:text="${movie.title}"></h1>
	<h2 th:text="${movie.description}"></h2>
	<article class="content">
		<img class="movie-detail-poster" th:src="${movie.imageUrl}" />
		<iframe class="movie-clip" th:src="${movie.videoClip}"></iframe>
		<h2 class="movie-stats" th:text="'Genre: ' + ${movie.genre}"></h2>
		<h2>Tags:</h2>
		<div class="tagcloud01">
			<form>
				<input name="movieId" type="hidden" th:value="${movie.id}" />
				<ul>
					<li th:each="tag: ${movie.tags}"><a class="movie-tags"
						th:href="@{/tag(id=${tag.id})}"> <span th:text="${tag.name}" />
							<button class="delete-button" name="tagId" th:value="${tag.id}"
								th:formaction="@{/deleteTag}">Delete</button></a></li>
				</ul>
			</form>
		</div>
		<div>
			<form method="POST">
				<input name="id" type="hidden" th:value="${movie.id}" /> <label
					class="add-tag"> <input type="text" name="name" />
				</label>
				<button class="add-button" th:formaction="@{/createTag}">Add</button>
			</form>
		</div>
	</article>


</body>
<footer>
	<p class="signature">Posted by Keith Kulwicki 2017</p>
</footer>
</html>