<!DOCTYPE html>
<html>
<head>
<title>Tag List</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
	<div class="nav-wrapper">
		<nav class="navbar">
			<ul class="clearfix">
				<li><a class="inactive" href="/home">Home</a></li>
				<li><a class="inactive" href="/genres">Genres</a></li>
				<li><a class="inactive" href="/movies">Titles</a></li>
				<li><a class="inactive" href="/tags">Tags</a></li>
				<li><a class="inactive" href="javascript:history.back()">Previous
						Page</a></li>
			</ul>
		</nav>
	</div>
	<h1>List of <a th:text="${tag.name}"></a> Movies</h1>
	<h2 class="select-tag">Select movie:</h2>

	<article class="content">
		<a th:each="current: ${tag.taggedBy}"
			th:href="@{/movie/(id=${current.id})}"> <img class="movie-poster"
			th:src="${current.imageUrl}" /></a>
	</article>
</body>
<footer>
	<p class="signature">Posted by Keith Kulwicki 2017</p>
</footer>
</html>